<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
<meta charset="UTF-8" />
<link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
    <div th:fragment="titulo">
        <h1>CRUD Básico - Treinamento Spring Boot</h1>
    </div>
    <p>Aqui vai o conteúdo padrão das páginas</p>
    <aside>
        <div>Aqui vai o menu</div>
    </aside>
    <div th:fragment="rodape">
        <p>Skalena 2019</p>
    </div>
</body>
</html>